@use '../helpers' as *;

.sr-only {
  @include sr-only;
}
$colorGroup : (
  'primary1': $primary1,
  'white': $white,
  'grayeee': $grayeee,
  'grayddd': $grayddd,
  'grayccc': $grayccc,
  'graybbb': $graybbb,
  'grayaaa': $grayaaa,
  'gray999': $gray999,
  'gray666': $gray666,
  'gray555': $gray555,
  'gray333': $gray333,
  'gray111': $gray111,
  'black': $black,
);
@each $name, $color in $colorGroup {
  .bg-#{$name} {
    background-color: $color;
  }
  .text-#{$name} {
    color: $color;
  }
}
$fontWeightGroup: (
  'light': $fontLight, 
  'regular': $fontRegular, 
  'medium': $fontMedium,
  'bold': $fontBold
);
@each $weightName, $weightValue in $fontWeightGroup {
  .font-#{$weightName} {
    font-weight: $weightValue;
  }
}
$fontSizeGroup: (
  'h1': 3.2, 
  'h2': 2.6, 
  'h3': 2,
  'h4': 1.8,
  'h5': 1.6,
);
@each $name, $size in $fontSizeGroup {
  .#{$name} {
    @include fontHeight($size);
  }
}