// images
$img-path: '../images';
// font
$font: 'Noto Sans Korean';
$font-path: '../fonts';
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontBold: 700;

// grayscale
$white: #fff;
$grayeee: #eee;
$grayddd: #ddd;
$grayccc: #ccc;
$graybbb: #bbb;
$grayaaa: #aaa;
$gray999: #999;
$gray666: #666;
$gray555: #555;
$gray333: #333;
$gray111: #111;
$black: #000;

// primary
$primary1: #fd5810;

//bg
$bg: #1d1f22;